.pointed-events-index
  = render 'filters'
  = paginate @pointed_events

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Created at
        %th User
        %th Type
        %th Repo
        %th Value
    %tbody
      = render @pointed_events
