.pointed-events-index
  = render 'filters'
  .summary
    = paginate @pointed_events
    .total
      = pluralize number_with_delimiter(@pointed_events.total_count), 'Pointed Events'

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Created at
        %th User
        %th Type
        %th Repo
        %th Value
    %tbody
      = render @pointed_events
