%div#react-target

%h2 Weekly Contest

%table.table
  %thead
    %tr
      %th Colab-o-ranker
      %th Current Total
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.total

