%div#react-target

%h2 Weekly Contest

%table.table
  %thead
    %tr
      %th Colab-o-ranker
      %th Current Total
  %tbody
    - @rankings.each do |ranking|
      %tr
        %td
          = ranking.email
          %small= "(#{ranking.github})"
        %td= ranking.total

