#react-target {
  margin-bottom: $margin*2;
  margin-top: $margin*2;
}

.weekly-contest {
  h2 {
    margin-bottom: 0;
  }
  p.dates {
    padding-left: 3px;
    font-size: 1rem;
    color: $purple;
  }
}

.rankings {
  border: none;
  border-width: 0;
  thead {
    th {
      text-transform: uppercase;
      font-weight: normal;
      color: #00a4ed;
      padding-bottom: $margin/2;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}
